<ion-header>
    <ion-toolbar color="light" align="center">
        <ion-title>Registro de Animales</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item>
            <ion-input required type="text" placeholder="Nombre" [(ngModel)]="heroe.nombre">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input required type="text" placeholder="Nombre Cientifico" [(ngModel)]="heroe.nombre_c">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input required type="number" placeholder="Promedio de vida" [(ngModel)]="heroe.promedio_v">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Alimentacion</ion-label>
            <ion-select interface="popover" [(ngModel)]="heroe.alimentacion" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="1">Pollo</ion-select-option>
                <ion-select-option value="2">Fruta</ion-select-option>
                <ion-select-option value="3">Pastura</ion-select-option>
                <ion-select-option value="4">Especial 1</ion-select-option>
                <ion-select-option value="5">Especial 2</ion-select-option>
                <ion-select-option value="6">Carne Roja</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Habitad</ion-label>
            <ion-select interface="popover" [(ngModel)]="heroe.habitad" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="Desierto Helado">Desierto Helado</ion-select-option>
                <ion-select-option value="Tundra">Tundra</ion-select-option>
                <ion-select-option value="Taiga">Taiga</ion-select-option>
                <ion-select-option value="Bosque Templado">Bosque Templado</ion-select-option>
                <ion-select-option value="Estepa Templada">Estepa</ion-select-option>
                <ion-select-option value="Selva">Selva</ion-select-option>
                <ion-select-option value="Bosque Monzonico">Bosque Monzonico</ion-select-option>
                <ion-select-option value="Desierto Arido">Desierto Arido</ion-select-option>
                <ion-select-option value="Arbustiva">Arbustiva</ion-select-option>
                <ion-select-option value="Estepa Seca">Estepa Seca</ion-select-option>
                <ion-select-option value="Desierto Semiarido">Desierto semiarido</ion-select-option>
                <ion-select-option value="Sabana Arbolada">Sabana Arbolada</ion-select-option>
                <ion-select-option value="Bosque Seco Subtropical">Bosque Seco Subtropical</ion-select-option>
                <ion-select-option value="Selva Tropical">Selva Tropical</ion-select-option>
                <ion-select-option value="Tundra Alpina">Tundra Alpina</ion-select-option>
                <ion-select-option value="Bosque de Montaña">Bosque de montaña</ion-select-option>


            </ion-select>
        </ion-item>

    </ion-list>

    <ion-button [disabled]="!heroe.nombre || !heroe.nombre_c" expand="full" (click)="guardarHeroe()">
        Guardar
    </ion-button>

    <ion-fab *ngIf="heroeid" vertical="bottom" horizontal="end" slot="fixed" routerLink="/hero-detalles">
        <ion-fab-button color="danger" (click)="remove(heroeid)" routerLink="/" routerDirection="forward">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>